 
 
 h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #264653;
    
}
nav{
    background-color: #264653; 
}
.feature-img{
    filter:grayscale(100%);
}
footer{
    background-color: black;
}
.span-color{
    background-color: #E76F51;
    ;
}
.span-text{
    color: #E76F51;

}
a{
    color:white;
}
.filled{
    color:#E76F51 ;
}
.empty{
     color:#aeaeae;
}
